<div id="home_news" class="row-fluid">
	<div id="home_news_highlight" class="span8">
		<div class="colored-box light-green">		
			<h4>Notícias</h4>	
		</div>		
		<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
		<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
		    <div class="slides"></div>
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>
		</div>
		
		<div id="home_news_box" class="hidden">			
			<% @news_for_carousel.each do |newsarticle| %>
				<% if !newsarticle.photo.blank? %>
					<%= link_to newsarticle.photo.url, title: newsarticle.headline, :'data-link' => refinery.newsarticles_newsarticle_url(newsarticle) do %>
						<%= image_fu newsarticle.photo, "600x600", alt: newsarticle.headline %>
					<% end %>
				<% end %>
			<% end %>
		</div>		
	</div>
	<div id="home_news_sidebar" class="span4">
		<%= render '/refinery/pages/home_news_sidebar' %>
	</div>
</div>
<%= render '/refinery/pages/home_news2' %>
