

	<div id="home_news_interaction">
		<%= link_to("http://wiki.#{request.host_with_port}", title: 'Wiki', class: 'interaction_link') do %>
			<%= image_tag "wiki.png", alt: "Wiki icon", class: "interaction_img" %>
		<% end %>
		<%= link_to("http://forum.#{request.host_with_port}", title: 'Fórum', class: 'interaction_link') do %>
			<%= image_tag "forum.png", alt: "Forum icon", class: "interaction_img" %>
		<% end %>
	</div>
