<% content_for :body do %>
	<div class="">
		<div class="">			
			<div class="row-fluid">	
				<div class="">					
					<%= render '/refinery/pages/home_news' %>
					
					<%= render '/refinery/pages/home_courses' %>					
				</div>
			</div>
		</div>
	</div>
<% end %>

<%= render '/refinery/content_page' %>