<section>
	<div id="sidebar_menu_geral">					
		<div class="colored-box">		
			<h4>GERAL</h4>											
		</div>
		<ul>			
			<% @pages_for_sidebar.each do |page| %>
				<li><%= link_to page.title.downcase, page.slug %></li>
			<% end %>
		</ul>	
	</div>
</section>
<section>
	<div id="sidebar_menu_links">					
		<div class="colored-box">		
			<h4>FERRAMENTAS INDE</h4>											
		</div>
		<ul>		
			<li><a href="http://www.visualizador.inde.gov.br" target="_blank">visualizador</a></li>
			<li><a href="http://www.metadados.inde.gov.br" target="_blank">catálogo de metadados</a></li>			
		</ul>
	</div>
</section>
<section>
	<div id="sidebar_menu_conteudo">					
		<div class="colored-box">		
			<h4>INSTRUMENTOS</h4>											
		</div>
		<ul>		
			<li><a href="wiki.<%= request.host_with_port %>" target="_blank">wiki</a></li>
			<li><a href="forum.<%= request.host_with_port %>" target="_blank">fórum</a></li>
		</ul>	
	</div>
</section>