<section>
	<div id="sidebar_menu_geral">					
		<div class="colored-box">		
			<h4>GERAL</h4>											
		</div>
		<ul>		
			<li><a href="/sobre">sobre</a></li>
			<li><a href="/newsarticles">notícias</a></li>			
			<% 
			# link_to @sobre.title.downcase, @sobre.url if !@sobre.nil?
			# link_to "Notícias".downcase, newsarticles_newsarticles_url
			# link_to "Eventos".downcase, events_newsarticles_newsarticles_url 
			%>
		</ul>	
	</div>
</section>
<section>
	<div id="sidebar_menu_links">					
		<div class="colored-box">		
			<h4>FERRAMENTAS INDE</h4>											
		</div>
		<ul>		
			<li><a href="#">visualizador</a></li>
			<li><a href="#">catálogo de metadados</a></li>
		</ul>
	</div>
</section>
<section>
	<div id="sidebar_menu_conteudo">					
		<div class="colored-box">		
			<h4>INSTRUMENTOS</h4>											
		</div>
		<ul>		
			<li><a href="#">wiki</a></li>
			<li><a href="#">fórum</a></li>
		</ul>	
	</div>
</section>